/*Clases*/
.focus-in-contract{-webkit-animation:focus-in-contract 1s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-contract 1s cubic-bezier(.25,.46,.45,.94) both}

/*KF*/
 @-webkit-keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}