@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  font-family: 'Baloo 2', cursive;
  overflow-x: hidden;
}
html{
    height: -webkit-fill-available;
}
.font-bebas{
  font-family: 'Bebas Neue', cursive;
}
.hr-val{
  color: rgb(132, 66, 59);
  width: 300px;
  border: 1px solid rgb(132, 66, 59);
}
.link-val1{
  color: rgba(191, 95, 84);
  text-decoration: none;
}
.link-val1:hover{
  color: rgb(132, 66, 59);
}
.text-val1{
    /*color: rgb(237, 106, 90);*/
    color: rgba(191, 95, 84);
}
.bg-val1{
  background-color: rgba(191, 95, 84);
}
.text-val2{
 /* color: #ed6a5a; */
  color: rgba(191, 95, 84);
}
.text-val3{
  color: rgb(116, 59, 70);
}
.btn-val{
  background-color: #bf5f54;
  color: #fff;
}
nav{
  background-color: rgba(191, 95, 84);
}

/*Index Styles*/
  #indexBody nav{
    background-color: rgba(191, 95, 84, 0.3);
  }
  .dropdown-menu{
    color: #000 !important;
    background-color: rgba(191, 95, 84) !important;
    border: 0px !important;
  }
  .dropdown-menu a:hover{
    color: #000 !important;
    background-color: rgba(191, 95, 84) !important;
  }
  .video-background-holder {
      position: relative;
      background-color: black;
      height: 100vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;

    }

  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  @-webkit-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
  @keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
  #hero__caption{
      opacity:0;  /* make things invisible upon start */
      -webkit-animation: fadeIn 2s ease-in;
      animation: fadeIn  2s  ease-in;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode:forwards;
  }
  
  .mainIndex__icon{
    width: 100px;
    height: 100px;
  }
  #explains{
    background-color: #fff;
  }
  .explains__card{
    color: #fff;
  }
  @media screen and (min-width: 300px) and (max-width: 768px) {
    .explain__card--2{
      display:flex; 
      flex-direction: column-reverse;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .explains__card p{
      font-size: 80%;
    }
    .explain__card--2, .explain__card--3, .explain__card--1{
      font-size: 13px;
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .explain__card--2, .explain__card--3{
      font-size: 15px !important;
    }
  }
  #testimonial .carousel-control-next,
  .carousel-control-prev{
      filter: invert(100%);
  }
  @media screen and (max-width: 768px){
    #testimonial .carousel-item p{
      width: 75%;
      margin: auto;
    }
    #carouselIndex{
      height: auto;
    }
  }
  #indexBody footer{
    margin-top: 150px;
  }
/*About Styles*/
  .about__img{
    height: 300px;
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 20px rgba(81, 80, 80, 0.8);
  }
  .about__text{
    font-size: 18px;
    color:rgba(54, 54, 54, 0.8);
  }
  .about__patternbg{
    background-image: url("../assets/img/about.jpg");
    height: 60px;
  }
  .about__patternbg h3{
    opacity: 1 !important;
  }

/*Centros de energia Styles*/
  #mainHead{
    height: 30vh;
  }

  .btnModalCentros{
    border: 1px solid #bf5f54 !important;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    color: #bf5f54;
    width: 225px;
    text-transform: uppercase;
    padding: 5px;
    text-align: start !important;
  }
  @media screen and (max-width: 500px) {
    .btnModalCentros{
      font-size: 12px;
      padding-top: 10px;
      width: 180px;
    }
  }
  .nav-tabs .nav-item a, #textTabs .nav-tabs .active{
    text-decoration: none;
    font-size: 20px !important;
    text-transform: uppercase;
    padding: 0 20px;
    color: #fff;

  }
  .activeIcon{
    display: none;
  }
  #textTabs .nav-tabs .active{
    color: #bf5f54 !important;
    background-color: #fff;
    border-bottom: 1px solid #bf5f54;

  }
  #textTabs #metodo, #textTabs #origenDelSistema, #textTabs #metodo{
    font-size: 18px;
    color: #636363;
  }
/*Contact*/
  .contact-card{
    background: rgba( 191, 95, 84, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
  }

  #modalIndex{
    background-color: rgba(0,0,0, 0.56) !important;
    height: 100vh !important;
    width: 100vw !important;
  }
  #modalIndex .modal-body{
    background-image: url('https://pbs.twimg.com/media/EcNRKDvWAAAtVf0.jpg');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
  }
/*Masajes Styles*/
  .masajes__text{
    font-size: 18px;
    color:rgba(54, 54, 54, 0.7);
  }
  @media screen and ( max-width: 992px){
    .masajes__text--space{
      margin-top: 50px;
    }
  }

/*Retiros*/
  #timer {
    font-size: 3em;
    font-weight: 100;
    color: #bf5f54;
    text-align: center;
  }
  #timer div {
    display: inline-block;
    min-width: 90px;
  }
  #timer div span {
    color: #000;
    display: block;
    font-size: 0.35em;
    font-weight: 400;
  } 
  @media screen and ( max-width: 992px){
    #timerContainer{
      margin-top: 50px;
    }
  }

/*Clases y talleres*/
#eventListContainer{
  width: 400px;
  margin-top: 30px;
}
.eventHeader{
  letter-spacing: 2px;
}
.eventRow{
  border-bottom: 1px solid #949494;
}

.eventDate{
  border-left: 3px solid #bf5f54;
}
.eventDate h5{
  font-size: 30px;
  margin: 0 !important;
  
}
.eventDate span{
  font-size: 20px;
  letter-spacing: 1px;
}
.eventLink i{
  display: inline-block;
}
.eventLink a{
  text-decoration: none;
}